.navigation-bar {
  background-color: #ffffff33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.left-navigation {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.right-navigation {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.right-navigation-none {
  display: none;
}
.score-para {
  margin-right: 20px;
  font-family: 'roboto';
  color: #ffffff;
  font-size: 23px;
}
.logo-image {
  height: 50px;
  width: 50px;
}
.emoji-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .navigation-bar {
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
  }
  .logo-image {
    height: 20px;
    width: 20px;
  }
  .left-navigation {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .right-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
    margin-left: 10px;
  }
  .emoji-heading {
    font-size: 15px;
  }
  .score-para {
    font-size: 15px;
    margin-right: 5px;
  }
}
